---
import { AstroFont } from "astro-font";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
// import PostHog from "../components/PostHog.astro";
import LabNav from "../components/LabNav.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Metadata from "../components/Metadata.astro";

interface Props {
	post: CollectionEntry<"lab">;
}

export async function getStaticPaths() {
	const blogPosts = await getCollection("lab");
	return blogPosts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

const { post } = Astro.props;

if (!post) {
	return { status: 404 };
}

---

<!doctype html>
<html lang="en" class="bg-bgColor">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="A minimal personal portfolio website made with Astro, React and Tailwind CSS"
		/>
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<Metadata
			slot="head"
			title={post.data.title}
			description={post.data.excerpt}
			image={`${import.meta.env.SITE}/lab/${post.slug}/og.png`}
			canonicalUrl={`${import.meta.env.SITE}/lab/${post.slug}/`}
			publishedTime={post.data.date.toISOString()}
			type="article"
		/>

		<title>Lab • {post.data.title}</title>
		<!-- <PostHog /> -->
		<AstroFont
			config={[
				{
					name: "Satoshi",
					src: [
						{
							style: "normal",
							weight: "400 500 600 700 800 900",
							path: "./public/fonts/Satoshi-Variable.woff2",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>
	</head>
	<body
		class="mx-auto my-8 max-w-[400px] px-4 text-body selection:bg-primary selection:text-hoverColor md:my-16 md:max-w-[600px]">
		<LabNav />
		<slot />
		<Footer />
		<ViewTransitions />
	</body>
</html>
